body {
    background-image: url("gradient.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    font-family: 'Lato', sans-serif;
    /* background: linear-gradient(135deg, hsla(261, 11%, 40%, 1) 0%, hsla(240, 15%, 19%, 1) 100%); */
    overflow-x: hidden;

}
* {
  margin: 0;
  padding: 0;

}
#background {
  
    /* display:block;
    width: 100%;
    height: 100vh; */
    display: grid;
    height: 100%;
    /* background-image: url("background.jpg");  */
    /* -webkit-mask-image: url(maskBlue.svg); */
    
    /* filter: grayscale(100%); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    /* -webkit-mask-repeat: no-repeat; */


}
.center-fit {
  min-width: 100vw;
  min-height: 50vh;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
#heading {
    color: #0cbd93;
}
#getStarted {
    border-radius: 8px;
    width: 80px;
    background: black;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;

}
#sleeperIDForm {
  position: relative;
  margin: -50% auto;
  z-index: 1;
}
#sleeperLeague {
    display: block;
    position: relative;
    padding: 8px 8px 8px 32px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background: #132437 url(https://sleepercdn.com/images/logos/app_logo-7db7753b87f95ffc6fd57a424e01a064.png?vsn=d);
    background-size: 40px 40px;
    background-position: 10px 4px;
    background-repeat: no-repeat;
    margin: -50% auto;
    z-index: 1;
    
}​

#leagueIDInput, #submitLeagueID {
    display: none;
    width: 200px;
    height: 40px;
    margin-top:20px;
    border-radius: 10px;
}
#leagueIDInput {
    display: none;
    width: 200px;
    height: 40px;
    margin-top:20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;
}
#loadGif {
    display: none;
    width: 100px;
    height: 100px;
    margin: 200px auto;
}
#mainSleeper {
    display: grid;
    grid-template-areas: "nav con";
    grid-template-columns: 30% 80%;
    

}

#sideNav {
    
    background: #222430;
    display: grid;
    grid-area: nav;
    width: 30%;
    height: 93%;
    border-radius: 10px;
    margin-top: 20px;
    position: fixed;
    overflow-y: scroll;
    margin-left: 1%;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#trades {
    height: 10px;
    position: absolute;
    width: 30%;
}
#stats {
    position: absolute;
    width: 30%;
    height: 10px;

}
#tradeHeader {
    color: white;
    margin-left: 20px;
    background: black;
    border-radius: 8px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
}
#statsHeader {
    color: white;
    margin-left: 20px;
    background: black;
    border-radius: 8px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-top: 40px;
}
#content {
    display: grid;
    grid-area: con;
    justify-content: center;
    width: 88%;
    margin-top: 20px;
  }
#mainSleeper {
    display: none;
}
.userTrades {
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 8px; 
    padding-left: 10px; 
    height: 25px;
    line-height: 25px;
}
.userTrades:focus {
    color: white;
}
.statSub {
    display: inline-block;
    width: 200px;
    color: #717387;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 8px; 
    padding-left: 10px; 
    height: 25px;
    line-height: 25px;
}

.btn-group button {
    background-color: #222430; /* Green background */
    border: solid 1px black; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
.btn-group button:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
.btn-group button:first-child{
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;

}
.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

/* Add a background color on hover */
/* .btn-group button:hover {
background-color: #3e8e41;
} */
#positionRankingsContent {
    display:none;
}
#positionRanksTable {
    margin-top: 30px;
    justify-items: center;
    align-items: center;
    display:none;
    background: #222430;
    height: fit-content;
    color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;

}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}
#randomStatsContent {
    display:none;
}
.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: black;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #222430;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
#heightWeightRanksTable {
    display:none;
    background: #222430;
    height: fit-content;
    color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

}
#transactionRanksTable {
  display:none;
  margin-top: 20px;
  background: #222430;
  height: fit-content;
  color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;

}
#opponentWinsRanksTable {
  display:none;
  margin-top: 20px;
  background: #222430;
  height: fit-content;
  color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;

}
#tradeContent {
    display: none;
}
html,body {
  /* font-family: Consolas, monaco, monospace; */
}

#chart {
  padding: 20px;
  background: #222430;
  color: white;
  border-radius: 10px;
}

table {
  width: 400px;
  height: 400px;
  margin: auto;
}

.charttitle {
  text-align: center;
}

.bars td {
  vertical-align: bottom;
}

.bars div:hover {
  opacity: 0.6;
}

.legend {
  vertical-align: bottom;
  padding-left: 20px;
  text-align: left;
}

.legbox {
  display: block;
  clear: both;
}

.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: left;
}


/*Flat UI colors*/

.one {
  background: #16A085;
}

.two {
  background: #2ECC71;
}

.three {
  background: #27AE60;
}

.four {
  background: #3498DB;
}

.five {
  background: #2980B9;
}

.six {
  background: #9B59B6;
}

.seven {
  background: #8E44AD;
}

.eight {
  background: #34495E;
}

.nine {
  background: #2C3E50;
}

.ten {
  background: #22313f;
}

.eleven {
  background: #F1C40F;
}

.twelve {
  background: #F39C12;
}

.thirteen {
  background: #E67E22;
}

.fourteen {
  background: #D35400;
}

.fifteen {
  background: #E74C3C;
}

.sixteen {
  background: #C0392B;
}

.seventeen {
  background: #ECF0F1;
}

.seventeen.clouds {
  color: #BDC3C7;
}

.eighteen {
  background: #BDC3C7;
}

.nineteen {
  background: #95A5A6;
}

.twenty {
  background: #7F8C8D;
}
.wrapper{
  width: 600px;
  display:block;
  /* overflow:hidden; */
  margin:0 auto;
  padding: 60px 50px;
  background:#222430;
  border-radius:10px;
  margin-top: 20px;
}
#myChart {
  margin: auto;
}
#chooseTradeContent {
  display: none;
  grid-template-areas:"header header" "team1 team2";
  background: #222430;
  padding: 20px 50px 50px 50px;
  border-radius: 10px;
  height: fit-content;
  width: 80%;
  /* grid-template-columns: 50% 50%  */
}
#tradeCreatorHeader {
  display: grid;
  grid-area: header;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}
#team1con {
  display: grid;
  grid-area: team1;
}
#team2con {
  display: grid;
  grid-area: team2;
}
.playerInput {
  height: auto;
  min-height: 30px;
}
.createTradeBut {
  height: auto;
  min-height: 30px;
}
#submitTrade {
  width: 200%;
  border-radius: 0 0 10px 10px;
  border: none;
  height: auto;
  min-height: 30px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: bolder;
}
#submitLeagueID {
  font-family: "Lato";
  font-size: 16px;
  font-weight: bolder;
}

#minusTeam1{
  border-bottom: solid 1px black;
}
input {
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-weight: bolder;
}
.tradeInsightP {
  color: white;
}
#tradeInsights {
  background: #222430;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
#insightsHeader {
  text-align: center;
}
#createOwnBack {
  border-radius: 8px;
  border: none;
  padding: 5px 5px 5px 5px;
  color: #222430;
  font-family: "Lato", "sans serif";
  font-weight: bolder;
}

.input-range {
  width: 17px;
  margin-right: 80px;
  -webkit-appearance: none;
  height: 300px;
  border-radius: 5px;
  outline: none;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: rgba(255, 99, 132, 0.5);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: rgba(54, 162, 235, 0.2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(255, 99, 132, 0.5);
}

#myChart2 {
  display: inline-block !important;
}
.playerWrapper {
  border-radius: 8px;
  background: #222430;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 10px;
}
#playerLookupContent {
  display: none;
  width: 100%;
}
#searchPlayer {
  width: 500px;
  border-radius: 8px;
  border: none;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  font-size: 30px;
}
.players {
  color: white;
  margin-top: 1px;
}
#singlePlayerInfo {
  display: none;
  color: white;
  background: #222430;
  width: 50vw;
  padding-top: 10px;
  border-radius: 8px;
  text-align: center;
  min-height: 25%;
  height: fit-content;
  /* margin-top: -100%; */
}
#exitStats {
  display: block;
  float:left;
  margin-left: 10px;
  border-radius: 8px;
  width: 60px;
  height: 30px;
}
#exitStatsWrapper {
  width: 50vw;
  height: 30px;
}
#myChart3Wrapper {
  max-width: 75%;
  height: 200px;
}
#myChart3{
  height: 250px !important;
}
#myChart {
  width: 100%;
  height: 100%;
}